/build/
/config/mysql/mysql.custom.conf
/config/nginx/nginx.custom.conf
/config/nginx/partials/shared.custom.conf.inc
/config/nginx/sites/*.conf
!/config/nginx/sites/default.conf
/config/php-fpm/php.custom.ini
/config/php-fpm/php-fpm.custom.conf
/config/php-fpm/xdebug.custom.ini
/config/ssmtp/ssmtp.custom.conf
/config/wordpress/wp-config.custom.php.inc
/db/
!/db/.gitkeep
docker-compose.custom.yml
pilothouse.ini
/sites/
!/sites/.gitkeep
/vendor/
